[Unit]
Description=Run winch main.py

[Service]
ExecStart=/usr/bin/python /path/to/script/main.py
WorkingDirectory=/path/to/script/
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target


